newrelic
redis
hiredis
arcgis
sodapy
boto3
apache-airflow[celery,postgres,hive,hdfs,jdbc,async,password,crypto,github_enterprise,datadog,statsd,s3]
matplotlib
seaborn
altair
sodapy
pandas
-e git+https://github.com/CityofSantaMonica/mds-provider@master#egg=mds_provider
