Werkzeug
redis
hiredis
sodapy
boto3
apache-airflow[celery,postgres,hive,hdfs,jdbc,async,password,crypto,github_enterprise,datadog,statsd,s3]
matplotlib
seaborn
altair
sodapy
geoalchemy2
pandas
git+https://github.com/CityofSantaMonica/mds-provider@master#egg=mds_provider
beautifulsoup4
html5lib
requests
pyarrow
s3fs
arcgis
